<div class="form-input">
    <ui-select ng-if="context.multiple" multiple ng-model="context.modelValue" ng-disabled="disabled" ng-class="{disabled: isNoChoices}">
        <ui-select-match placeholder="{{placeholder | translate}}">{{ isNoChoices ? ('stores.directives.store-selector.loading' | translate) : $item.name }}</ui-select-match>
        <ui-select-choices repeat="x.id as x in choices | filter: { name: $select.search }" refresh="fetch($select)" refresh-delay="0" when-scrolled="fetchNext($select)">
            <span ng-bind-html="x.name | highlight: $select.search" ng-show='!isNoChoices'></span>
        </ui-select-choices>
    </ui-select>
    <ui-select ng-if="!context.multiple" ng-model="context.modelValue" ng-required="context.required" ng-disabled="disabled" ng-class="{disabled: isNoChoices}">
        <ui-select-match allow-clear="true" placeholder="{{placeholder | translate}}">{{ isNoChoices ? ('stores.directives.store-selector.loading' | translate) : $select.selected.name }}</ui-select-match>
        <ui-select-choices repeat="x.id as x in choices | filter: { name: $select.search }" refresh="fetch($select)" refresh-delay="300" when-scrolled="fetchNext($select)">
            <span ng-bind-html="x.name | highlight: $select.search" ng-show='!isNoChoices'></span>
        </ui-select-choices>
    </ui-select>
</div>
